body {
    background-color: rgb(255, 0, 0);
    color:white;
}

.roster, .game{
    list-style-type: none;
    text-align: center;
}

.title{
    font-size:1.3em;
}

.logopicture{
    max-width: 10em;
    max-height: 7em;
}

ul{
    padding-inline-start: 0%;
}

#nav {
    margin: auto;
    width: 50%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    font-size:1.2em;

}

#nav a{
    color:white;
    text-decoration: none;
}
#nav a:hover{
    color: grey;
}

#team-nav{
    padding-top: 1em;
    margin:auto;
    text-align: center;
    display:flex;
    justify-content: space-between;
}

#email a{
    color:white;
    text-decoration: none;
}

.pagetext{
    font-size: 1.1em;
    /* font and stuff */
}

/* .game{
    padding-top:10%;
    display:inline-grid;
} */
/* Must format link style to also be white color */